@{
    ViewData["Title"] = "Trang chủ";
}

@model HakunaMatata.Models.ViewModels.VM_News

@section scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=MY_API_KEY&callback=LoadMarker">
    </script>
    <script type="text/javascript" src="~/assets/js/maplace-active.js"></script>
}
<div class="bg-navbar-news"></div>
<div class="bg-sesion-link">
    <div class="sesion-link container">
        <a href="/" class="sesion-link-item">
            <span>Home</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="/" class="sesion-link-item">
            <span>News</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="/" class="sesion-link-item">
            <span>ACT</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <span class="sesion-link-item">News main</span>
    </div>
</div>


