.bdb {
    border-bottom: 1px solid #dee2e6;
}

.text-color {
    color: black;
}

.container-news {
}

.recommend-text {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    text-transform: none;
    color: #0A0B0D;
}

.sesion-link-item {
    color: #0b2047;
}

.bg-navbar-news {
    height: 94px;
    background-color: #495057;
}

.container-text {
    padding-bottom: 20px;
}

.name-news {
    padding-top: 12px;
}

.container-title-text {
    margin-bottom: 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    text-transform: none;
    color: #fff;
    text-shadow: 0 0 3px #888;
}

.container-first-content {
    background-image: url('/assets/img/bg/4.png');
    background-position: center; /*điều chỉnh góc độ hình ảnh*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}

.img-first-content {
    height: 100%;
}

.img-flash-news {
    height: 100%;
}

.flash-news {
    padding: 16px 0;
}

.container-body-news {
    margin-top: 48px;
}

.line-right {
    border-right: 1px solid #F1F5FA;
}

.line-bottom,
.flash-news {
    border-bottom: 1px solid #dee2e6;
}

.sesion-link {
    margin-top: 48px;
    padding-bottom: 12px;
}

.container-title-box {
    width: auto;
    height: 52px;
}

.authur-times {
    font-size: 14px;
    display: flex;
    margin: 16px 0;
}

.times-text {
    color: #222;
}

.authur-text {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #d8dbdf;
    color: #aab5c9;
    font-weight: 600;
}

.news-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: none;
    color: #000;
}

.img-news-box {
    background-image: url('../assets/img/banner/1.jpg');
    background-position: center; /*điều chỉnh góc độ hình ảnh*/
    background-repeat: no-repeat;
    background-size: cover;
}

.news-info-box {
    padding: 32px;
    background-color: #e4eaf2;
    height: 100%;
}

.news-info-box-second {
    padding: 32px;
    height: 100%;
}

.news-content {
    line-height: 20px;
    font-size: 14px;
}

.news-item {
    height: 285px;
    margin-bottom: 24px;
    overflow: hidden;
}

.news-item-second {
    padding: 24px 0;
    border-top: 1px solid #dee2e6;
    overflow: hidden;
}

.keyword-text {
    padding: 6px 10px;
    background-color: #F1F5FA;
    border-radius: 24px;
}

.news-item-topic {
    padding: 4px 12px;
    color: #0b2047;
    background-color: #e9ecef;
    margin-right: 8px;
    border-radius: 100px;
    font-size: 14px;
    line-height: 18px;
}
